*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
}

*:focus{
	outline: none;
}

html{
	font-size: 62.5%;
}


.carousel--container{
	width: 60%;
	margin: 0 auto;
	border: 5px solid red;
}

.carousel--slide{
	display: flex;
	height: 500px;
	width: 100%;
}

img{
	width: 100%;
	height: auto;
}